/* Fonts */
:root {
  --default-font: "Red Hat Text", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Red Hat Display", sans-serif;
  --nav-font: "Red Hat Text", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #fff; /* Background color for the entire website, including individual sections */
  --default-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Default color used for the majority of the text content across the entire website */
  --heading-color: #101010; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #e79a45; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --contrast-color: #151411; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
  --theme-orange: #e79a45;
  --theme-dark-blue: #001c43;
  --theme-light-blue: #0cdbff;
  --white: #ffffff;
  --off-white: #f7f7f7;
  --black: #000000;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation room. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #ffff; /* The default color of the main navmenu links */
  --nav-hover-color: #e79a45; /* Applied to main navmenu links when they are hovered over or active */
  --nav-dropdown-background-color: #0c5286; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #ffffff; /* Used for navigation links of the dropdown items in the navigation room. */
  --nav-dropdown-hover-color: #f68712; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
  font-optical-sizing: auto;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  /* color: var(--default-color); */
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.bg-accent {
  background-color: var(--accent-color);
}
.bg-blue {
  background-color: var(--theme-dark-blue);
}
.bg-light-blue {
  background-color: var(--theme-light-blue);
}
.bg-white {
  background-color: var(--white);
}
.bg-off-white {
  background-color: var(--off-white);
}

.text-accent {
  color: var(--accent-color);
}
.text-blue {
  color: var(--theme-dark-blue);
}
.text-light-blue {
  color: var(--theme-light-blue);
}
.text-white {
  color: var(--white);
}
.text-off-white {
  color: var(--off-white);
}
.text-black {
  color: var(--black);
}

.myButton {
  box-shadow: inset 0px 1px 0px 0px #ffd4a5;
  background: linear-gradient(to bottom, #e79a45 5%, #c27e34 100%);
  background-color: #e79945;
  border: 1px solid #b16a1f;
  color: #57390b;
  text-shadow: 0px 1px 0px #ffc484;
  border-radius: 32px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 24px;
  text-decoration: none;
}
.myButton-lg {
  padding: 14px 32px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #c27e34 5%, #e79945 100%);
  background-color: #c27e34;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.whatsappButton {
  box-shadow: inset 0px 1px 0px 0px #dcf8c6;
  background: linear-gradient(to bottom, #25d366 5%, #0c7533 100%);
  background-color: #25d366;
  border: 1px solid #0d645a;
  color: #075e54;
  text-shadow: 0px 1px 0px #89d64e;
}
.whatsappButton:hover {
  background: linear-gradient(to bottom, #119641 5%, #25d366 100%);
  background-color: #25d366;
}
.mailButton {
  box-shadow: inset 0px 1px 0px 0px #ff9ab8;
  background: linear-gradient(to bottom, #d32559 5%, #8f163a 100%);
  background-color: #dd3c51;
  border: 1px solid #8a1236;
  color: #530d22;
  text-shadow: 0px 1px 0px #ee81a2;
}
.mailButton:hover {
  background: linear-gradient(to bottom, #8f163a 5%, #dd3c51 100%);
  background-color: #dd3c51;
}
.lightBlueButton {
  box-shadow: inset 0px 1px 0px 0px #ccf1ff;
  background: linear-gradient(
    to bottom,
    var(--theme-light-blue) 5%,
    #1995cf 100%
  );
  background-color: var(--theme-light-blue);
  border: 1px solid #0a91c7;
  color: var(--theme-dark-blue);
  text-shadow: 0px 1px 0px #b4f0ff;
}
.lightBlueButton:hover {
  background: linear-gradient(
    to bottom,
    #1995cf 5%,
    var(--theme-light-blue) 100%
  );
  background-color: var(--theme-light-blue);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  /* --background-color: rgba(255, 255, 255, 1); */
  color: var(--default-color);
  transition: all 0.5s;
  z-index: 9999;
}

.header .branding {
  background-color: var(--background-color);
  background-color: transparent;
  min-height: 60px;
  padding: 10px 0;
  transition: 0.3s;
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 64px;
}

.header .logo h1 {
  color: #fff;
  font-weight: 700;
  margin-right: 20px;
  font-size: 36px;
}

/* Global Header on Scroll
  ------------------------------*/
.scrolled .header {
  background-color: color-mix(in srgb, var(--theme-dark-blue), transparent 5%);
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, var(--theme-dark-blue) 100%, transparent 80%); 
  z-index: 10001; /* Ensure it's on top of other content */
  display: flex;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}
#preloader svg {
  width: auto;
  height: 48px;
  stroke: var(--accent-color);
}

#preloader svg path {
  fill: transparent;
  stroke-width: 1;
  stroke: linear-gradient(to right bottom, red, dodgerblue);
  animation: stroke-fill-animation 4s cubic-bezier(0.6, -0.28, 0.735, -0.045)  infinite;
}

@keyframes stroke-fill-animation {
  0% {
    stroke-dasharray:1 500;
    stroke: var(--theme-light-blue);
  }
  30% {
    stroke-dasharray: 100 100;
    stroke: var(--accent-color);
    /* stroke: white; */
  }
  70% {
    stroke-dasharray: 500 50;
    stroke: var(--theme-light-blue);
  }
  100% {
    stroke-dasharray: 1 500;
    stroke: var(--theme-light-blue);
  }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 992px) {
  .navmenu {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: auto;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu ul li a {
    color: var(--nav-color);
    padding: 18px 20px;
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu li:hover > a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color) !important;
  }

  /* Mobile navmenu styles */
  .mobile-navmenu {
    display: none;
  }
}
/* Navmenu - Mobile */
@media (max-width: 991px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    display: none;
  }

  .navmenu ul {
    display: block;
    list-style: none;
    padding: 20px;
    margin: 0;
    overflow-y: auto;
  }

  /* Mobile navmenu styles */
  .mobile-navmenu {
    text-align: center;
    width: 300px;
    padding: 1rem;
    height: fit-content !important;
    border-radius: 15px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 151px);
    transition: all 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);

    background: #001c43d0;
    border-radius: 16px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid #02ceee46;
    transform: scale(0);
    opacity: 0;
    /* z-index: 10000; */
  }
  .mobile-navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--white);
  }
  .mobile-navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--white);
  }
  .mobile-navmenu ul li {
    margin-bottom: 10px;
  }
  .mobile-navmenu ul li a {
    display: block;
    padding: 15px;
    border-radius: 16px;
    font-weight: 500;
    transition: background-color 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .mobile-navmenu ul li a:hover {
    background: rgba(255, 255, 255, 0.02);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    /* border: 1px solid rgba(255, 255, 255, 0.33); */
  }
  .mobile-navmenu-active .mobile-navmenu {
    top: calc(50vh - 200px);
    transform: scale(1);
    opacity: 1;
    z-index: 10000;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  color: var(--default-color);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 160px 0 80px 0;
  text-align: center;
  position: relative;
}
.page-title img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: grayscale(100);
}

.page-title:before {
  content: "";
  background-color: color-mix(in srgb, var(--black), transparent 30%);
  position: absolute;
  inset: 0;
  z-index: 1;
}
.page-title .container {
  position: relative;
  z-index: 3;
}
.page-title h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--background-color);
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--accent-color);
}

.page-title .breadcrumbs ol li + li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li + li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--background-color), transparent 40%);
}

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 80px 0;
  scroll-margin-top: 77px;
  overflow: clip;
  position: relative;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 60px;
  }
}
@media (max-width: 576px) {
  section,
  .section {
    padding: 50px 0;
  }
}

/*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/

.page-title-section .section-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 99;
  text-align: center;
}
.page-title-section .section-title-back {
  font-size: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--background-color);
  text-shadow: 1px 1px 0 #eee, -1px -1px 0 #eee, 0 -1px 0 #eee, -1px 0 0 #eee;
  position: absolute;
  text-align: center;
  left: 0;
  top: 30px;
}
.page-title-section .section-heading {
  color: var(--black);
  margin-top: 0;
  font-size: 60px;
  font-weight: 600;
  z-index: 99;
  text-align: center;
}
.section-title {
  font-size: 18px;
  font-weight: 500;
  padding: 0;
  line-height: 1;
  margin-top: 0;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 99;
}
.section-heading {
  color: var(--black);
  margin-top: 0;
  font-size: 60px;
  font-weight: 600;
  z-index: 99;
}

.section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  cursor: pointer;
  /* width: 150px; */
  height: 60px;
  padding: 0 24px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.section-btn:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.section-btn:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.section-btn:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

@media (max-width: 768px) {
  .page-title-section .section-title {
    font-size: 18px;
  }
  .page-title-section .section-title-back {
    font-size: 4rem;
    left: 0;
    top: 40px;
  }
  .page-title-section .section-heading,
  .section-heading {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .page-title-section .section-title {
    font-size: 18px;
  }
  .page-title-section .section-title-back {
    font-size: 3rem;
    left: 0;
    top: 23px;
  }
  .page-title-section .section-heading,
  .section-heading {
    font-size: 36px;
  }
}

/*  ____SUCCESS MODAL STYLES_____ */
/* ____________________________  */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 100px;
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 400px;
  text-align: center;
  border: none;
  border-radius: 16px;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.modal .modal-content img {
  margin-bottom: 30px;
  margin-inline: auto;
}

.modal .modal-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

#successModal .modal-content button {
  background-color: #32ba7c; /* Green */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

#errorModal .modal-content button {
  background-color: #e21b1b; /* Red */
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}


/* Footer Section */

footer {
  background-color: var(--theme-dark-blue);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1128%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 28%2c 67%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c398.404C87.588%2c405.224%2c185.088%2c450.478%2c258.2%2c401.767C331.381%2c353.01%2c326.139%2c245.164%2c354.786%2c162.025C380.351%2c87.83%2c425.045%2c18.094%2c417.309%2c-60C409.42%2c-139.639%2c371.066%2c-216.36%2c311.958%2c-270.313C255.752%2c-321.618%2c171.843%2c-317.269%2c102.1%2c-347.721C18.906%2c-384.046%2c-47.879%2c-483.987%2c-136.92%2c-466.307C-224.604%2c-448.896%2c-257.695%2c-340.676%2c-307.442%2c-266.4C-351.243%2c-201.003%2c-406.402%2c-137.555%2c-409.777%2c-58.917C-413.045%2c17.228%2c-354.59%2c78.196%2c-325.25%2c148.537C-294.646%2c221.909%2c-296.635%2c315.043%2c-233.592%2c363.475C-169.868%2c412.43%2c-80.115%2c392.166%2c0%2c398.404' fill='%2300193c'%3e%3c/path%3e%3cpath d='M1440 947.857C1512.756 945.624 1572.9279999999999 899.96 1639.363 870.2139999999999 1718.98 834.566 1838.779 837.7339999999999 1868.841 755.845 1899.6109999999999 672.027 1792.529 599.03 1770.6979999999999 512.453 1752.137 438.842 1785.915 357.779 1751.416 290.156 1712.753 214.37 1649.1779999999999 148.668 1569.666 118.39699999999999 1487.6 87.154 1396.237 99.30900000000003 1311.602 122.71600000000001 1225.996 146.392 1136.3029999999999 179.89299999999997 1085.041 252.42700000000002 1035.166 322.999 1048.055 416.64300000000003 1042.909 502.907 1038.194 581.948 1020.855 664.422 1056.238 735.258 1091.188 805.227 1164.201 844.794 1232.616 882.6949999999999 1297.31 918.534 1366.077 950.125 1440 947.857' fill='%23001f4a'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1128'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
  color: var(--background-color);
}

footer .top-footer h4 {
  font-size: 3.25rem;
  color: var(--white);
  margin-bottom: 2rem;
}

footer .top-footer .footer-form-wrap {
  background-color: var(--white);
  border-radius: 3rem;
}

footer .top-footer .footer-form-wrap input {
  background-color: transparent;
  font-size: 1.15rem;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
}

footer .top-footer .footer-form-wrap input:focus {
  outline-color: transparent !important;
  border: none !important;
}

footer .top-footer .footer-form-wrap .myButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .top-footer .footer-form-wrap .myButton .material-symbols-outlined {
  font-size: 2rem;
}
@media (max-width: 768px) {
  footer .top-footer h4 {
    font-size: 2.5rem;
  }
  footer .top-footer .footer-links {
    width: 33.33%;
  }
}

footer .top-footer .footer-links h6 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 1rem;
}

footer .top-footer .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer .top-footer .footer-links ul li {
  padding-block: 0.35rem;
}
footer .top-footer .footer-links ul li a {
  color: var(--off-white);
  font-weight: 300;
  transition: 0.4s ease-in-out;
}
footer .top-footer .footer-links ul li a:hover,
footer .top-footer .footer-links ul li a:active {
  color: var(--theme-orange);
}

footer .bottom-footer {
  border-color: #2f3964 !important;
  color: var(--off-white);
  font-weight: 300;
  padding: 0;
}
footer .bottom-footer .social-links a,
footer .bottom-footer .social-links a:focus {
  color: var(--white);
  padding-inline: 8px;
}

footer .bottom-footer .social-links a:hover,
footer .bottom-footer .social-links a:active {
  color: var(--theme-orange);
}


